* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start;
    height: 100vh;
    background: linear-gradient(135deg, #f7cac9, #92a8d1);
    font-family: 'Roboto', sans-serif;
    color: #333;
}

#octagon-container {
    width: 80vmin;
    height: 80vmin;
    perspective: 1500px;
}

.octagon {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 1s;
}

.section {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.5s, box-shadow 0.3s;
    border: 8px solid #ffe4b5;
    background-image: url('https://www.transparenttextures.com/patterns/decorative.png');
    background-size: cover;
}

.section:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.section a {
    color: #f68b2c;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

.section a:hover {
    color: #ff4500;
}

#section-1 {
    transform: rotateY(0deg) translateZ(780px);
    background: #fff3e0;
}

#section-1 h2 {
    margin-top: 10px;
    font-size: 2.5em;
    color: #f68b2c;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


#section-1 .inicio-img {
    width: 25%;
    margin: 10px 20px 10px 0;
    border-radius: 50%;
    border: 3px solid #f68b2c;
    float: left;
}

#section-1 p {
    text-align: left;
    font-size: 1.1em;
    margin-top: 10px;
    color: #333;
}

#section-2 {
    transform: rotateY(45deg) translateZ(780px);
}
#section-3 {
    transform: rotateY(90deg) translateZ(780px);
}
#section-4 {
    transform: rotateY(135deg) translateZ(780px);
}
#section-5 {
    transform: rotateY(180deg) translateZ(780px);
}
#section-6 {
    transform: rotateY(225deg) translateZ(780px);
}
#section-7 {
    transform: rotateY(270deg) translateZ(780px);
}
#section-8 {
    transform: rotateY(315deg) translateZ(780px);
}
